# Assignment
## Brief
Write the Python codes for the following questions.
## Instructions
Paste the answer as Python in the answer code section below each question.

### Question 1
Question: Calculate the correlation between 'MSFT' and 'IBM' returns from a DataFrame of stock returns.

In [1]:
import pandas as pd

# Assuming 'returns' is a DataFrame containing stock returns
returns = pd.DataFrame({
    'MSFT': [0.05, 0.07, -0.01],
    'IBM': [0.04, 0.02, 0.03]
})
returns

   MSFT   IBM
0  0.05  0.04
1  0.07  0.02
2 -0.01  0.03

In [24]:
# Answer:
corr_msft_ibm = returns["MSFT"].corr(returns["IBM"])

corr_msft_ibm

-0.2401922307076306

### Question 2
Question: Convert the columns `B` and `C` from wide to long format.

In [6]:
import pandas as pd

df = pd.DataFrame({
'A': {0: 'a', 1: 'b', 2: 'c'},
'B': {0: 1, 1: 3, 2: 5},
'C': {0: 2, 1: 4, 2: 6}
})

df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [13]:
df.index

Int64Index([0, 1, 2], dtype='int64')

In [14]:
# Answer:
df.melt(id_vars="A",value_vars=["B","C"])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

### Question 3
Question: Slice the Series to return data from 5th to 15th January.

In [15]:
import pandas as pd
import numpy as np

dates = pd.date_range("2023-01-01", "2023-01-31")
data = pd.Series(np.random.rand(len(dates)), index=dates)

In [19]:
data.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31'],
              dtype='datetime64[ns]', freq='D')

In [18]:
data.head(3)

2023-01-01    0.406146
2023-01-02    0.439970
2023-01-03    0.662970
Freq: D, dtype: float64

In [22]:
# Answer:
data['2023-01-05':'2023-01-15']

2023-01-05    0.044916
2023-01-06    0.983157
2023-01-07    0.011516
2023-01-08    0.643082
2023-01-09    0.857657
2023-01-10    0.714633
2023-01-11    0.771176
2023-01-12    0.954080
2023-01-13    0.364480
2023-01-14    0.697394
2023-01-15    0.500015
Freq: D, dtype: float64

### Thanks for reviewing!!!